body {
    background-color: rgb(44, 44, 44);
    color: white;
    height: 100vh;
    animation: 3s ease-out 0s 1 fadedOpacity;
}
hr {
    background-color: rgb(145, 142, 142);
}
.section2 {
    display: flex;
    gap: 50px;
}
.section2 .div-one {
    font-size: 1.3rem;
    width: 250px;
    background-color: grey;
    color: white;
}
.section2 .div-two {
    margin-top: 8px;
    font-size: 1.2rem;
    color: rgb(197, 191, 191);
}
.section2 .div-three {
    margin-top: 8px;
    color: white;
    background-color: black;
    border: 1px solid white;
    max-width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section2 .div-four {
    margin-top: 8px;
    font-size: 1.2rem;
    color: rgb(197, 191, 191);
}
.section2 .div-five {
    width: 250px;
    font-size: 11pt;
    font-weight: 700;
    color: white;
    background-color: grey;
    margin-top: 8px;
    margin-bottom: 8px;
}
.section2 .div-six {
    width: 100px;
    background-color: rgb(36, 32, 32);
    color: rgb(163, 156, 156);
    border: 1px solid grey;
    text-align: center;
    padding: 5px;
    margin-top: 8px;
}
.section2 .div-seven {
    margin-top: 8px;
    font-size: 1.2rem;
    color: rgb(197, 191, 191);
    margin-bottom: 15px;
}
.section2 .div-eight {
    display: flex;
    align-items: center;
    font-size: 11pt;
    gap: 15px;
    margin-bottom: 15px;
}
.section2 .div-nine {
    display: flex;
    align-items: center;
    font-size: 11pt;
    gap: 15px;
}
.container .buttons{
    margin-top: 15px;
    transition: all 0.5s ease-in-out;
}
.container .buttons button:hover {
    cursor: pointer;
    position: relative;
    bottom: 5px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
}
.container .buttons button:nth-child(1) {
    border: none;
    color: black;
    padding: 8px;
    padding-right: 35px;
    padding-left: 35px;
    text-align: center;
    font-size: 1.2rem;
    border: 1px solid grey;
    font-weight: 700;
}
.container .buttons button:nth-child(2) {
    border: none;
    color: grey;
    background-color: inherit;
    padding: 8px;
    padding-right: 35px;
    padding-left: 35px;
    text-align: center;
    font-size: 1.2rem;
    border: 1px solid grey;
    font-weight: 700;
}
.container .buttons button:nth-child(3) {
    border: none;
    color: grey;
    background-color: inherit;
    padding: 8px;
    padding-right: 35px;
    padding-left: 35px;
    text-align: center;
    font-size: 1.2rem;
    border: 1px solid grey;
    font-weight: 700;
}
@keyframes fadedOpacity {
    0% {
     opacity: 0;
        }
    100% {
     opacity: 1;
        }
}