body nav {
    color: white;
}
.form-inline {
    gap: 12px;
}
.section-one {
    display: flex;
    gap: 35px;
}
.second-part {
    flex-grow: 1;
}
.second-part .one {
    display: flex;
    justify-content: space-between;
}
.second-part .second-part-two {
    display: flex;
    justify-content: space-between;
}
.second-part .second-part-three {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.container .section-two {
    display: flex;
    gap: 35px;
}
.section-two .premium {
    margin-right: auto;
    position: relative;
    left: 85px;
}
.section-three {
    display: flex;
    gap: 170px;
}
.section-four {
    display: flex;
    gap: 150px;
}
.section-four .view-activity {
    margin-right: auto;
    margin-left: 65px;
}
.blue {
    color: blue;
}
.text-grey {
    color: grey;
    font-size: 1.2rem;
    font-weight: 600;
}
.ultra-hd {
    color: black;
    border: 2px solid black;
    font-weight: 700;
}
.grey {
    color: grey;
}
button {
    border: none;
    padding: 8px;
    margin-left: 10px;
}
body {
    font-size: 12pt;
    font-weight: 700;
}
.strive-student {
    margin-bottom: 50px;
}
.view-activity {
    position: relative;
    top: 76px;
}
@keyframes fadedOpacity {
    0% {
     opacity: 0;
        }
    100% {
     opacity: 1;
        }
}
body {
    animation: 3s ease-out 0s 1 fadedOpacity;
}