body nav {
    color: white;
}
.form-inline {
    gap: 12px;
}
.section-one {
    display: flex;
    gap: 35px;
}
.second-part {
    flex-grow: 1;
}
.second-part .one {
    display: flex;
    justify-content: space-between;
}
.second-part .second-part-two {
    display: flex;
    justify-content: space-between;
}
.second-part .second-part-three {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.container .section-two {
    display: flex;
    gap: 35px;
}
.section-two .premium {
    margin-right: auto;
    position: relative;
    left: 115px;
}
.section-three {
    display: flex;
    gap: 190px;
}
.section-four {
    display: flex;
    gap: 175px;
}
.section-four .view-activity {
    margin-right: auto;
    margin-left: 85px;
}